<div *ngIf="task">
  <h2>{{task.title}} Details</h2>
  <div><span>Title: </span>{{task.title}}</div>
  <div>
    <label>New Title:
      <input [(ngModel)]="task.title" placeholder="title"/>
    </label>
  </div>
  <div><span>description: </span>{{task.description}}</div>
  <div>
    <label>New description:
      <input [(ngModel)]="task.description" placeholder="description"/>
    </label>
  </div>
  <button (click)="delete(task.id);">Delete</button>
  <button (click)="update(task);">Edit</button>
</div>
